<div class="bg-black text-white py-4 px-8">
  <div class="flex justify-center h-6 mb-6">
    <img src="../../assets/images/Logo.png" alt="Logo" class="rounded-full h-6 mr-2">
    <p class="font-protestGuerilla text-2xl relative bottom-1">SOLITO</p>
  </div>
  <div class="flex justify-between mb-2">
    <div class="w-1/5 md:w-40">
      <p class="mb-2 whitespace-nowrap">SOCIAL LINKS</p>
      <div class="flex justify-between">
        <i class="fa-brands cursor-pointer fa-square-instagram"></i>
        <i class="fa-brands cursor-pointer fa-linkedin"></i>
        <i class="fa-brands cursor-pointer fa-twitter"></i>
        <i class="fa-brands cursor-pointer fa-facebook"></i>
      </div>
    </div>
    <a href="https://www.apple.com/app-store/" class="w-40"><img src="https://b.zmtcdn.com/data/webuikit/9f0c85a5e33adb783fa0aef667075f9e1556003622.png" alt="Download on App Store" class="h-12 mx-auto"></a>
    <a href="https://www.apple.com/app-store/" class="w-40"><img src="https://b.zmtcdn.com/data/webuikit/23e930757c3df49840c482a8638bf5c31556001144.png" alt="Download on Google Play" class="h-12"></a>
  </div>
  <hr>
  <div class="mt-2">&copy; Solito. All rights reserved.</div>
</div>
