<div class="bg-blue-50 w-full flex justify-center items-center h-full">
  <div class="rounded-md bg-white w-1/2 max-w-[475px] min-w-80 card-shadow">
    <mat-tab-group>
      <mat-tab label="Login">
        <div class="p-4">
          <form class="flex flex-col items-center justify-center space-y-6" [formGroup]="loginForm">
            <div class="flex w-full items-center">
              <label for="user-email" class="font-semibold w-1/3 text-right">E-Mail: &nbsp;</label>
              <div>
                <input type="text" id="user-email" placeholder="you@example.com" formControlName="email" class="bg-gray-50 p-2 border-b-2 focus:outline-none" [ngClass]="{ 'form-error-status' : loginForm.get('email').invalid && loginForm.get('email').touched}"/>
                <div class="relative">
                  <p class="text-red-500 text-xs absolute" *ngIf="loginForm.get('email').touched && loginForm.get('email').value === ''">The Email is required!</p>
                  <p class="text-red-500 text-xs absolute" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid && loginForm.get('email').value !== ''">The Email is not Valid!</p>
                </div>
              </div>
            </div>
            <div class="flex w-full items-center">
              <label for="user-password" class="font-semibold w-1/3 text-right">Password: &nbsp;</label>
              <div>
                <input type="password" id="user-password" formControlName="password" class="bg-gray-50 p-2 border-b-2 focus:outline-none" [ngClass]="{ 'form-error-status' : loginForm.get('password').invalid && loginForm.get('password').touched}"/>
                <div class="relative">
                  <p class="text-red-500 text-xs absolute" *ngIf="loginForm.get('password').touched && loginForm.get('password').value === ''">The password is required!</p>
                  <p class="text-red-500 text-xs absolute" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">The password must contain atleast 8 characters!</p>
                </div>
              </div>
            </div>
            <button type="submit" class="px-4 py-2 bg-blue-500 text-blue-50 rounded-md button-shadow hover:brightness-95">Login</button>
            {{loginForm.valid}}
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Register"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>